                <!-- mainbottom -->
                <div id="mainbottom">
                  <div class="moduletable center"><div class="module_container"><div class="mod-newsflash-adv posts mod-newsflash-adv__center cols-3" id="module_216">
                      <div class="row-fluid">
                      <article class="span0 item item_num0 item__module  " id="item_153">
                      
                  <!-- Intro Image -->
                  <figure class="item_img img-intro img-intro__none"> 
                        <img src="assets/joomla_58298/images/pages/page1-img4.jpg" alt="">
                      
                      <div class="image_content">
                        <div class="image_content_inner">
                  
                          <div class="wrapper">
                                      <!-- Introtext -->
                            <div class="item_introtext">
                              We are your one<br />stop place for all<br />your catering needs					</div>
                                    </div>
                          
                        </div>
                      </div>
                  
                    </figure>
                  
                  <div class="item_content">
                  
                    <!-- Item title -->
                    
                    
                    <!-- Read More link -->
                    </div>
                  <div class="clearfix"></div>  </article>
                      <article class="span0 item item_num1 item__module  " id="item_154">
                      
                  <!-- Intro Image -->
                  <figure class="item_img img-intro img-intro__none"> 
                        <img src="assets/joomla_58298/images/pages/page1-img5.jpg" alt="">
                      
                      <div class="image_content">
                        <div class="image_content_inner">
                  
                          <div class="wrapper">
                                      <!-- Introtext -->
                            <div class="item_introtext">
                              Exclusive banquet<br />every time					</div>
                                    </div>
                          
                        </div>
                      </div>
                  
                    </figure>
                  
                  <div class="item_content">
                  
                    <!-- Item title -->
                    
                    
                    <!-- Read More link -->
                    </div>
                  <div class="clearfix"></div>  </article>
                      <article class="span0 item item_num2 item__module  lastItem" id="item_155">
                      
                  <!-- Intro Image -->
                  <figure class="item_img img-intro img-intro__none"> 
                        <img src="assets/joomla_58298/images/pages/page1-img6.jpg" alt="">
                      
                      <div class="image_content">
                        <div class="image_content_inner">
                  
                          <div class="wrapper">
                                      <!-- Introtext -->
                            <div class="item_introtext">
                              Enjoy<br />professional<br />catering					</div>
                                    </div>
                          
                        </div>
                      </div>
                  
                    </figure>
                  
                  <div class="item_content">
                  
                    <!-- Item title -->
                    
                    
                    <!-- Read More link -->
                    </div>
                  <div class="clearfix"></div>  </article>
                      </div> 
                    <div class="clearfix"></div>
                  
                    </div></div></div>
                  </div>
                  