<div id="breadcrumbs">
  <div class="row-container">
      <div class="container-fluid">
          <!-- Breadcrumbs -->
          <div class="row-fluid">
              <div class="moduletable   span12"><div class="module_container">
<ul class="breadcrumb">
<li><a href="assets/joomla_58298/index.php" class="pathway">Home</a><span class="divider">&nbsp;|&nbsp;</span></li><li class="active"><span>About</span></li></ul>
</div></div>
          </div>
      </div>
  </div>
</div>
              <!-- feature -->
<div id="feature">
<div class="row-container">
<div class="container-fluid">
<div class="row-fluid">
<div class="moduletable center  span12"><div class="module_container"><header class='page_header'><h1 class="moduleTitle "><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Who</span> <span class="item_title_part_1 item_title_part_even item_title_part_first_half">we</span> <span class="item_title_part_2 item_title_part_odd item_title_part_second_half item_title_part_last">are</span></h1></header><div class="mod-article-single mod-article-single__center" id="module_220">
<div class="item__module" id="item_166">
<!-- Item Title -->
<h2 class="item-title"><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Professional</span> <span class="item_title_part_1 item_title_part_even item_title_part_first_half">catering</span> <span class="item_title_part_2 item_title_part_odd item_title_part_second_half item_title_part_last">provider</span></h2>

<!-- Intro Text -->
<div class="item_introtext">
<p>We’re a really friendly family run business that’s been established for over 12 years and have been operating a UK wide catering service from the heart of Birmingham at various venues including Football and Cricket Grounds, Hotels, Private Function Halls, and now more recently with Local Authorities. Our experienced team prides itself on executing and maintaining the highest level of standards towards customer satisfaction and retention. So no matter how big or small your event – let’s work together in finding you a bespoke solution to your catering needs. We look forward to hearing from you and being of service. To book an appointment – please, contact us via phone or email here.</p>

</div>	
<a class="btn btn-info readmore" href="assets/joomla_58298/index.php/about/166-professional-catering-provider"><span>Read more</span></a>	</div>
</div></div></div>
</div>
</div>
</div>
</div>
<!-- maintop -->
<div id="maintop">
<div class="row-container">
<div class="container-fluid">
<div class="row-fluid">
<div class="moduletable center team  span12"><div class="module_container"><div class="mod-newsflash-adv mod-newsflash-adv__center team cols-3" id="module_219">
<div class="row-fluid">
<article class="span4 item item_num0 item__module  " id="item_46">

<div class="item_content">
<!-- Intro Image -->
<figure class="item_img img-intro img-intro__none"> 
<img src="assets/joomla_58298/images/team/team-6.jpg" alt="">
</figure>
<!-- Item title -->
<h1 class="item_title item_title__center team"><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Terry</span> <span class="item_title_part_1 item_title_part_even item_title_part_second_half item_title_part_last">Grosh</span></h1>
<!-- Introtext -->
<div class="item_introtext">
Terry founded the company in 1990. He takes great pride in working with clients and staff of the company to create extraordinary event experiences.	</div>


<!-- Read More link -->
</div>
<div class="clearfix"></div>  </article>
<article class="span4 item item_num1 item__module  " id="item_45">

<div class="item_content">
<!-- Intro Image -->
<figure class="item_img img-intro img-intro__none"> 
<img src="assets/joomla_58298/images/team/team-5.jpg" alt="">
</figure>
<!-- Item title -->
<h1 class="item_title item_title__center team"><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Dayle</span> <span class="item_title_part_1 item_title_part_even item_title_part_second_half item_title_part_last">Peters</span></h1>
<!-- Introtext -->
<div class="item_introtext">
Dayle oversees all of the creative aspects of our company and works closely with clients and the team of the company.	</div>


<!-- Read More link -->
</div>
<div class="clearfix"></div>  </article>
<article class="span4 item item_num2 item__module  lastItem" id="item_44">

<div class="item_content">
<!-- Intro Image -->
<figure class="item_img img-intro img-intro__none"> 
<img src="assets/joomla_58298/images/team/team-4.jpg" alt="">
</figure>
<!-- Item title -->
<h1 class="item_title item_title__center team"><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Jason</span> <span class="item_title_part_1 item_title_part_even item_title_part_second_half item_title_part_last">Barton</span></h1>
<!-- Introtext -->
<div class="item_introtext">
Executive Chef Jason, a sixteen year food service veteran, brings a unique culinary perspective to the kitchen of our company.	</div>


<!-- Read More link -->
</div>
<div class="clearfix"></div>  </article>
</div> 
<div class="clearfix"></div>

</div></div></div>
</div>
</div>
</div>
</div>
<!-- Main Content row -->
<div id="content">
                      <div class="row-container">
      <div class="container-fluid">
                              <div class="content-inner row-fluid">
                                              <div id="component" class="span12">
                  <main role="main">
                                                              <!-- Content-top -->
                      <div id="content-top" class="row-fluid">
                          <div class="moduletable center  span12"><div class="module_container"><header class='page_header'><h1 class="moduleTitle "><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Our</span> <span class="item_title_part_1 item_title_part_even item_title_part_second_half item_title_part_last">services</span></h1></header><div class="mod-newsflash-adv mod-newsflash-adv__center cols-4" id="module_218">
<div class="pretext">
Events of any  kind can be a logistical nightmare to coordinate. We understand the amount of time and wherewithal it takes to organize. Venues, Caterers, Florists, Cakes, Decoration, Transportation, Music - the list goes on!  At Catering Services, we can offer any and all services associated with your party, including Event Planning. If all you need is food service catering, we are here for you. If you need someone to coordinate all of the above we can do that too.  </div>
<div class="row-fluid">
<article class="span3 item item_num0 item__module  " id="item_159">

<div class="item_content">
<!-- Intro Image -->
<figure class="item_img img-intro img-intro__none"> 
<img src="assets/joomla_58298/images/pages/page2-img1.jpg" alt="">
</figure>
<!-- Item title -->
<h2 class="item_title item_title__center"><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">The</span> <span class="item_title_part_1 item_title_part_even item_title_part_first_half">Total</span> <span class="item_title_part_2 item_title_part_odd item_title_part_second_half item_title_part_last">Package</span></h2>
<!-- Introtext -->
<div class="item_introtext">
<p>If you want to relax knowing your event is in capable hands, just let us know. Our total package includes everything from Music & Flowers, to decoration & Venue.</p>	</div>


<!-- Read More link -->
</div>
<div class="clearfix"></div>  </article>
<article class="span3 item item_num1 item__module  " id="item_160">

<div class="item_content">
<!-- Intro Image -->
<figure class="item_img img-intro img-intro__none"> 
<img src="assets/joomla_58298/images/pages/page2-img2.jpg" alt="">
</figure>
<!-- Item title -->
<h2 class="item_title item_title__center"><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first item_title_part_last">Catering</span></h2>
<!-- Introtext -->
<div class="item_introtext">
<p>We are a chef-driven caterer. We love good food and can organize both a boxed lunch for your fishing trip and a plated dinner service for 400 people.</p>	</div>


<!-- Read More link -->
</div>
<div class="clearfix"></div>  </article>
<article class="span3 item item_num2 item__module  " id="item_161">

<div class="item_content">
<!-- Intro Image -->
<figure class="item_img img-intro img-intro__none"> 
<img src="assets/joomla_58298/images/pages/page2-img3.jpg" alt="">
</figure>
<!-- Item title -->
<h2 class="item_title item_title__center"><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Event</span> <span class="item_title_part_1 item_title_part_even item_title_part_second_half item_title_part_last">Coordination</span></h2>
<!-- Introtext -->
<div class="item_introtext">
<p>You may have your cake picked out and your favorite band booked for the night, but we can take it from there and make sure your event is organized flawlessly.</p>	</div>


<!-- Read More link -->
</div>
<div class="clearfix"></div>  </article>
<article class="span3 item item_num3 item__module  lastItem" id="item_162">

<div class="item_content">
<!-- Intro Image -->
<figure class="item_img img-intro img-intro__none"> 
<img src="assets/joomla_58298/images/pages/page2-img4.jpg" alt="">
</figure>
<!-- Item title -->
<h2 class="item_title item_title__center"><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Car</span> <span class="item_title_part_1 item_title_part_even item_title_part_second_half item_title_part_last">service</span></h2>
<!-- Introtext -->
<div class="item_introtext">
<p>Our sister company "Keys Luxury Limo Service", is at your disposal, whether you need a ride to your prom party or a beautiful bride arriving at the wedding in a beautiful Bentley.</p>	</div>


<!-- Read More link -->
</div>
<div class="clearfix"></div>  </article>
</div> 
<div class="clearfix"></div>

</div></div></div>
                      </div>
                                                              <div id="system-message-container">
</div>

                      <section class="page-category page-category__">
</section>
                                                          </main>
              </div>
                                          </div>
                                  </div>
  </div>
                          </div>
<!-- mainbottom -->
<div id="mainbottom">
<div class="moduletable center"><div class="module_container"><div class="mod-newsflash-adv posts mod-newsflash-adv__center cols-3" id="module_217">
<div class="row-fluid">
<article class="span0 item item_num0 item__module  " id="item_156">

<!-- Intro Image -->
<figure class="item_img img-intro img-intro__none"> 
<img src="assets/joomla_58298/images/pages/page1-img7.jpg" alt="">

<div class="image_content">
<div class="image_content_inner">

<div class="wrapper">
  <!-- Introtext -->
<div class="item_introtext">
Choosing the<br />
best natural<br />
ingredients					</div>
</div>

</div>
</div>

</figure>

<div class="item_content">

<!-- Item title -->


<!-- Read More link -->
</div>
<div class="clearfix"></div>  </article>
<article class="span0 item item_num1 item__module  " id="item_157">

<!-- Intro Image -->
<figure class="item_img img-intro img-intro__none"> 
<img src="assets/joomla_58298/images/pages/page1-img8.jpg" alt="">

<div class="image_content">
<div class="image_content_inner">

<div class="wrapper">
  <!-- Introtext -->
<div class="item_introtext">
Creating amazing<br />
chef prepared<br />
meals					</div>
</div>

</div>
</div>

</figure>

<div class="item_content">

<!-- Item title -->


<!-- Read More link -->
</div>
<div class="clearfix"></div>  </article>
<article class="span0 item item_num2 item__module  lastItem" id="item_158">

<!-- Intro Image -->
<figure class="item_img img-intro img-intro__none"> 
<img src="assets/joomla_58298/images/pages/page1-img9.jpg" alt="">

<div class="image_content">
<div class="image_content_inner">

<div class="wrapper">
  <!-- Introtext -->
<div class="item_introtext">
Catering the finest<br />
cuisine on your<br />
event					</div>
</div>

</div>
</div>

</figure>

<div class="item_content">

<!-- Item title -->


<!-- Read More link -->
</div>
<div class="clearfix"></div>  </article>
</div> 
<div class="clearfix"></div>

</div></div></div>
</div>
<!-- mainbottom-2 -->
<div id="mainbottom-2">
<div class="row-container">
<div class="container-fluid">
<div class="row-fluid">
<div class="moduletable center  span12"><div class="module_container"><header class='page_header'><h1 class="moduleTitle "><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first item_title_part_last">Testimonials</span></h1></header><div class="mod-newsflash-adv testimonials mod-newsflash-adv__center cols-3" id="module_221">
<div class="row-fluid">
<article class="span4 item item_num0 item__module  " id="item_105">


<div class="item_content">

<!-- Introtext -->
<div class="item_introtext">
<blockquote>We thought having our wedding in America was going to be really expensive, but we were wrong. From the first email I received from Lea, I felt comfortable. The reception looked really, really lovely.
<p>It was Perfect!</p></blockquote>	</div>


<!-- Item title -->
<h2 class="item_title item_title__center"><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Helit</span> <span class="item_title_part_1 item_title_part_even item_title_part_first_half">&</span> <span class="item_title_part_2 item_title_part_odd item_title_part_second_half">Steve</span> <span class="item_title_part_3 item_title_part_even item_title_part_second_half item_title_part_last">Samson</span></h2>

<!-- Read More link -->
</div>
<div class="clearfix"></div>  </article>
<article class="span4 item item_num1 item__module  " id="item_104">


<div class="item_content">

<!-- Introtext -->
<div class="item_introtext">
<blockquote><p>We are from Miami but we decided to get married in Key West. The only thing we were concerned about was finding a good caterer. OMG was it good. We were amazed at the quality  of both the food and the service. Thanks for everything.</p></blockquote>	</div>


<!-- Item title -->
<h2 class="item_title item_title__center"><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Sarah</span> <span class="item_title_part_1 item_title_part_even item_title_part_first_half">&</span> <span class="item_title_part_2 item_title_part_odd item_title_part_second_half">Ricardo</span> <span class="item_title_part_3 item_title_part_even item_title_part_second_half item_title_part_last">North</span></h2>

<!-- Read More link -->
</div>
<div class="clearfix"></div>  </article>
<article class="span4 item item_num2 item__module  lastItem" id="item_103">


<div class="item_content">

<!-- Introtext -->
<div class="item_introtext">
<blockquote>I've been a fan of Chef Lea's cooking for years. I have big parties frequently, for birthdays, anniversaries or business functions. I go to Lea every time and he never ceases to amaze me.
<p>Thanks Chef!</p></blockquote>	</div>


<!-- Item title -->
<h2 class="item_title item_title__center"><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Mark</span> <span class="item_title_part_1 item_title_part_even item_title_part_second_half item_title_part_last">Johnson</span></h2>

<!-- Read More link -->
</div>
<div class="clearfix"></div>  </article>
</div> 
<div class="clearfix"></div>

</div></div></div>
</div>
</div>
</div>
</div>
      