<!-- Header -->
<div id="header">
  <div class="row-container">
      <div class="container-fluid">
          <div class="row-fluid">
              <nav class="moduletable home_menu  span12"><div class="module_container">
<div class="icemegamenu">
<ul id="icemegamenu">
<li id="iceMenu_101" class="iceMenuLiLevel_1 mzr-drop parent current  fullwidth" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">
<a routerLink="/" class=" iceMenuTitle ">
<span class="icemega_title icemega_nosubtitle" translate>header.home</span>
</a>
<!-- <ul class="icesubMenu icemodules sub_level_1" style="width:100%">
<li>
<div style="float:left;width:33.3%" class="iceCols">
<ul>
<li id="iceMenu_423" class="iceMenuLiLevel_2 ">
<div class="icemega_cover_module" style="width:100%">
<div class="icemega_modulewrap " style="width:auto; ">
<h2 class="moduleTitle "><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first item_title_part_last">Menu</span></h2>
<div class="mod-menu">
<ul class="menu ">
<li class="item-539">
<a href="#" >Appetizers</a>
</li>
<li class="item-540">
<a href="#" >Entrees</a>
</li>
<li class="item-541">
<a href="#" >Salads / Soups / Sandwiches</a>
</li>
<li class="item-542">
<a href="#" >Breads and Pastries</a>
</li>
<li class="item-543">
<a href="#" >Side Dishes</a>
</li>
<li class="item-544">
<a href="#" >Desserts</a>
</li>
<li class="item-545">
<a href="#" >Beverages</a>
</li>
</ul>
</div></div>
</div></li>
</ul>
</div>
<div style="float:left;width: 33.3%" class="iceCols">
<ul>
<li id="iceMenu_424" class="iceMenuLiLevel_2 ">
<div class="icemega_cover_module" style="width:100%">
<div class="icemega_modulewrap " style="width:auto; ">
<h2 class="moduleTitle "><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first item_title_part_last">Popular</span></h2>
<div class="mod-menu">
<ul class="menu ">
<li class="item-546">
<a href="#" >Pork BBQ</a>
</li>
<li class="item-547">
<a href="#" >Fried Fish</a>
</li>
<li class="item-548">
<a href="#" >Grilled Chicken</a>
</li>
<li class="item-549">
<a href="#" >Baked Chicken</a>
</li>
<li class="item-550">
<a href="#" >Hors d’oeuvre</a>
</li>
</ul>
</div></div>
</div></li>
</ul>
</div>
<div style="float:left;width: 33.3%" class="iceCols">
<ul>
<li id="iceMenu_348" class="iceMenuLiLevel_2 ">
<div class="icemega_cover_module" style="width:100%">
<div class="icemega_modulewrap " style="width:auto; ">
<h2 class="moduleTitle "><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">DISH</span> <span class="item_title_part_1 item_title_part_even item_title_part_first_half">OF</span> <span class="item_title_part_2 item_title_part_odd item_title_part_second_half">THE</span> <span class="item_title_part_3 item_title_part_even item_title_part_second_half item_title_part_last">DAY</span></h2>
<div class="bannergroup">

<div class="banneritem">
                                                                          <img
src="https://livedemo00.template-help.com./joomla_58298/images/banners/banner.jpg"
alt="BBQ Pork"
width ="270"						height ="216"					/>
    <div class="clr"></div>
</div>

</div>
</div>
</div></li>
</ul>
</div>
</li>
</ul> -->
</li>
<li id="iceMenu_134" class="iceMenuLiLevel_1" routerLinkActive="active">
<a routerLink="/about" routerLinkActive="active-link" class=" iceMenuTitle ">
<span class="icemega_title icemega_nosubtitle" translate>header.about</span>
</a>
</li>
<!-- <li id="iceMenu_335" class="iceMenuLiLevel_1 mzr-drop parent ">
<a class=" iceMenuTitle ">
<span class="icemega_title icemega_nosubtitle">Pages</span>
</a>
<ul class="icesubMenu icemodules sub_level_1" style="width:150px">
<li>
<div style="float:left;width:150px" class="iceCols">
<ul>
<li id="iceMenu_336" class="iceMenuLiLevel_2 ">
<a href="/joomla_58298/index.php/pages/pricing" class=" iceMenuTitle ">
<span class="icemega_title icemega_nosubtitle">Pricing</span>
</a>
</li>
<li id="iceMenu_138" class="iceMenuLiLevel_2 ">
<a href="/joomla_58298/index.php/pages/faqs" class=" iceMenuTitle ">
<span class="icemega_title icemega_nosubtitle">FAQs</span>
</a>
</li>
<li id="iceMenu_136" class="iceMenuLiLevel_2 ">
<a href="/joomla_58298/index.php/pages/our-team" class=" iceMenuTitle ">
<span class="icemega_title icemega_nosubtitle">Our team</span>
</a>
</li>
<li id="iceMenu_135" class="iceMenuLiLevel_2 ">
<a href="/joomla_58298/index.php/pages/history" class=" iceMenuTitle ">
<span class="icemega_title icemega_nosubtitle">History</span>
</a>
</li>
<li id="iceMenu_137" class="iceMenuLiLevel_2 ">
<a href="/joomla_58298/index.php/pages/testimonials" class=" iceMenuTitle ">
<span class="icemega_title icemega_nosubtitle">Testimonials</span>
</a>
</li>
<li id="iceMenu_305" class="iceMenuLiLevel_2 ">
<a href="/joomla_58298/index.php/pages/site-map" class=" iceMenuTitle ">
<span class="icemega_title icemega_nosubtitle">Site map</span>
</a>
</li>
<li id="iceMenu_342" class="iceMenuLiLevel_2 ">
<a href="/joomla_58298/index.php/forum" class=" iceMenuTitle ">
<span class="icemega_title icemega_nosubtitle">Forum</span>
</a>
</li>
<li id="iceMenu_343" class="iceMenuLiLevel_2 ">
<a href="/joomla_58298/index.php/pages/careers" class=" iceMenuTitle ">
<span class="icemega_title icemega_nosubtitle">Careers</span>
</a>
</li>
<li id="iceMenu_283" class="iceMenuLiLevel_2 ">
<a href="/joomla_58298/index.php/pages/portfolio" class=" iceMenuTitle ">
<span class="icemega_title icemega_nosubtitle">Portfolio</span>
</a>
</li>
<li id="iceMenu_426" class="iceMenuLiLevel_2 ">
<a href="/joomla_58298/index.php/pages/elements" class=" iceMenuTitle ">
<span class="icemega_title icemega_nosubtitle">Elements</span>
</a>
</li>
<li id="iceMenu_171" class="iceMenuLiLevel_2 ">
<a href="/joomla_58298/index.php/template-settings" class=" iceMenuTitle ">
<span class="icemega_title icemega_nosubtitle">Template settings</span>
</a>
</li>
</ul>
</div>
</li>
</ul>
</li> -->
<li id="iceMenu_285" class="iceMenuLiLevel_1 " routerLinkActive="active">
<a routerLink="/blog" routerLinkActive="active-link" class=" iceMenuTitle ">
<span class="icemega_title icemega_nosubtitle" translate >header.blog</span>
</a>
</li>
<li id="iceMenu_203" class="iceMenuLiLevel_1 gallery">
<a href="/joomla_58298/index.php/gallery" class=" iceMenuTitle ">
<span class="icemega_title icemega_nosubtitle" translate >header.gallery</span>
</a>
</li>
<li id="iceMenu_142" class="iceMenuLiLevel_1 ">
<a href="/joomla_58298/index.php/contacts" class=" iceMenuTitle ">
<span class="icemega_title icemega_nosubtitle" translate >header.contacts</span>
</a>
</li>
</ul>
</div></div></nav>
          </div>
      </div>
  </div>
</div>