                                <!-- showcase -->
                                <div id="showcase">
                                  <div class="moduletable "><div class="module_container"><div id="swiper-slider_208" class="swiper-container swiper-slider "
                                    data-min-height="320px"
                                    data-height="46.875%"
                                    data-autoplay="false"
                                    data-loop="true"
                                    data-slide-effect="slide"
                                    
                                    >
                                    <div class="swiper-wrapper">
                                      
                                  <div class="swiper-slide"
                                  data-slide-bg="assets/joomla_58298/images/slider/slide-3.jpg"
                                  >
                                    <div class="swiper-slide-caption"
                                        data-caption-animate="fadeIn"
                                      data-caption-delay="200">
                                            <div class="camera_caption ">
                                  
                                                      
                                            <h1 class="slide-title"><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Let</span> <span class="item_title_part_1 item_title_part_even item_title_part_first_half">us</span> <span class="item_title_part_2 item_title_part_odd item_title_part_first_half">cater</span> <span class="item_title_part_3 item_title_part_even item_title_part_second_half">your</span> <span class="item_title_part_4 item_title_part_odd item_title_part_second_half">special</span> <span class="item_title_part_5 item_title_part_even item_title_part_second_half item_title_part_last">event</span></h1>
                                      
                                              
                                              
                                              
                                                      
                                        <!-- Read More link -->
                                        
                                        </div>
                                        </div>
                                  </div>
                                  
                                  <div class="swiper-slide"
                                  data-slide-bg="assets/joomla_58298/images/slider/slide-2.jpg"
                                  >
                                    <div class="swiper-slide-caption"
                                        data-caption-animate="fadeIn"
                                      data-caption-delay="200">
                                            <div class="camera_caption ">
                                  
                                                      
                                            <h1 class="slide-title"><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Exquisite</span> <span class="item_title_part_1 item_title_part_even item_title_part_first_half">food</span> <span class="item_title_part_2 item_title_part_odd item_title_part_first_half">for</span> <span class="item_title_part_3 item_title_part_even item_title_part_first_half">you</span> <span class="item_title_part_4 item_title_part_odd item_title_part_second_half">and</span> <span class="item_title_part_5 item_title_part_even item_title_part_second_half">your</span> <span class="item_title_part_6 item_title_part_odd item_title_part_second_half">guests’</span> <span class="item_title_part_7 item_title_part_even item_title_part_second_half item_title_part_last">pleasure</span></h1>
                                      
                                              
                                              
                                              
                                                      
                                        <!-- Read More link -->
                                        
                                        </div>
                                        </div>
                                  </div>
                                  
                                  <div class="swiper-slide"
                                  data-slide-bg="assets/joomla_58298/images/slider/slide-1.jpg"
                                  >
                                    <div class="swiper-slide-caption"
                                        data-caption-animate="fadeIn"
                                      data-caption-delay="200">
                                            <div class="camera_caption ">
                                  
                                                      
                                            <h1 class="slide-title"><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Our</span> <span class="item_title_part_1 item_title_part_even item_title_part_first_half">catering</span> <span class="item_title_part_2 item_title_part_odd item_title_part_first_half">—</span> <span class="item_title_part_3 item_title_part_even item_title_part_second_half">your</span> <span class="item_title_part_4 item_title_part_odd item_title_part_second_half">great</span> <span class="item_title_part_5 item_title_part_even item_title_part_second_half item_title_part_last">celebrations</span></h1>
                                      
                                              
                                              
                                              
                                                      
                                        <!-- Read More link -->
                                        
                                        </div>
                                        </div>
                                  </div>
                                    </div>
                                            <!-- Swiper Navigation -->
                                        <div class="swiper-button-prev"></div>
                                        <div class="swiper-button-next"></div>
                                    </div>
                                  </div></div>
                                  </div>