
                <!-- Main Content row -->
                <div id="content">
                  <div class="row-container">
  <div class="container-fluid">
                          <div class="content-inner row-fluid">
                                          <div id="component" class="span12">
              <main role="main">
                                                          <!-- Content-top -->
                  <div id="content-top" class="row-fluid">
                      <div class="moduletable center  span12"><div class="module_container"><header class='page_header'><h1 class="moduleTitle "><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">About</span> <span class="item_title_part_1 item_title_part_even item_title_part_second_half item_title_part_last">us</span></h1></header><div class="mod-article-single mod-article-single__center" id="module_210">
<div class="item__module" id="item_140">
<!-- Item Title -->
<h2 class="item-title"><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Providing</span> <span class="item_title_part_1 item_title_part_even item_title_part_first_half">high-quality</span> <span class="item_title_part_2 item_title_part_odd item_title_part_second_half">catering</span> <span class="item_title_part_3 item_title_part_even item_title_part_second_half item_title_part_last">services</span></h2>

<!-- Intro Text -->
<div class="item_introtext">
In its 27th year of operation, The Catering Services provides full-service custom catering for a wide variety of corporate, individual and university-related events within the area and across the state.
<p>Dedicated to excellence in food quality, preparation and presentation, and renowned for imaginative décor, we cater functions both small and large. Whether you are planning a buffet, seated dinner, cocktail party, fundraiser or other special event, our team of international chefs and event planners can offer you innovative cuisine that’s tailored to your palate, ideal for the season and perfect for the chosen theme of your event.</p>

</div>	
<a class="btn btn-info readmore" href="assets/joomla_58298/index.php/140-providing-high-quality-catering-services"><span>Read more</span></a>	</div>
</div></div></div>
                  </div>
                                                          <div id="system-message-container">
</div>

                  <section class="page-category page-category__home">
</section>
                                                      </main>
          </div>
                                      </div>
                              </div>
</div>
                      </div>
