<!-- maintop -->
<div id="maintop">
  <div class="row-container">
  <div class="container-fluid">
  <div class="row-fluid">
  <div class="moduletable center  span12"><div class="module_container"><div class="mod-newsflash-adv mod-newsflash-adv__center cols-3" id="module_211">
      <div class="row-fluid">
      <article class="span4 item item_num0 item__module  " id="item_141">
      
  <div class="item_content">
  <!-- Intro Image -->
  <figure class="item_img img-intro img-intro__none"> 
        <img src="assets/joomla_58298/images/pages/page1-img1.jpg" alt="">
      </figure>
    <!-- Item title -->
      <h1 class="item_title item_title__center"><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first item_title_part_last">Corporate</span></h1>
      <!-- Introtext -->
    <div class="item_introtext">
      Creative options for all your corporate events
  
    </div>
    
    
    <!-- Read More link -->
    <a class="btn btn-info readmore" href="assets/joomla_58298/index.php/41-top-article/141-corporate"><span>Read more</span></a></div>
  <div class="clearfix"></div>  </article>
      <article class="span4 item item_num1 item__module  " id="item_142">
      
  <div class="item_content">
  <!-- Intro Image -->
  <figure class="item_img img-intro img-intro__none"> 
        <img src="assets/joomla_58298/images/pages/page1-img2.jpg" alt="">
      </figure>
    <!-- Item title -->
      <h1 class="item_title item_title__center"><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Banquet</span> <span class="item_title_part_1 item_title_part_even item_title_part_second_half item_title_part_last">hall</span></h1>
      <!-- Introtext -->
    <div class="item_introtext">
      Banquet Hall rental in Charlotte, NC
  
    </div>
    
    
    <!-- Read More link -->
    <a class="btn btn-info readmore" href="assets/joomla_58298/index.php/41-top-article/142-banquet-hall"><span>Read more</span></a></div>
  <div class="clearfix"></div>  </article>
      <article class="span4 item item_num2 item__module  lastItem" id="item_143">
      
  <div class="item_content">
  <!-- Intro Image -->
  <figure class="item_img img-intro img-intro__none"> 
        <img src="assets/joomla_58298/images/pages/page1-img3.jpg" alt="">
      </figure>
    <!-- Item title -->
      <h1 class="item_title item_title__center"><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first item_title_part_last">Wedding</span></h1>
      <!-- Introtext -->
    <div class="item_introtext">
      Wedding venue & banquet hall
  
    </div>
    
    
    <!-- Read More link -->
    <a class="btn btn-info readmore" href="assets/joomla_58298/index.php/41-top-article/143-wedding"><span>Read more</span></a></div>
  <div class="clearfix"></div>  </article>
      </div> 
    <div class="clearfix"></div>
  
    </div></div></div>
  </div>
  </div>
  </div>
  </div>