<div id="breadcrumbs">
  <div class="row-container">
      <div class="container-fluid">
          <!-- Breadcrumbs -->
          <div class="row-fluid">
              <div class="moduletable   span12"><div class="module_container">
<ul class="breadcrumb">
<li><a href="assets/joomla_58298/index.php" class="pathway">Home</a><span class="divider">&nbsp;|&nbsp;</span></li><li class="active"><span>Blog</span></li></ul>
</div></div>
          </div>
      </div>
  </div>
</div>
                              <!-- Main Content row -->
<div id="content">
                      <div class="row-container">
      <div class="container-fluid">
                              <div class="content-inner row-fluid">
                                              <div id="component" class="span12">
                  <main role="main">
                                                              <div id="system-message-container">
</div>

                      <section class="page-blog page-blog__" itemscope itemtype="https://schema.org/Blog">
<header class="page_header">
<h1><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first item_title_part_last">Blog</span></h1>
</header>
<div class="items-leading">



<article *ngFor="let blog of blogList" class="leading-0 item visible-first" id="item-118">
<!--  title/author -->
<header class="item_header">
<h2 class="item_title"><a href="assets/joomla_58298/index.php/blog/52-information/118-the-north-american-auto-show-will-take-place-in-chicago">{{blog.title}}</a></h2></header>
<!-- info TOP -->
<div class="item_info">
<dl class="item_info_dl">
<dt class="article-info-term"></dt>
<dd>
<address class="item_createdby">
by Super User			</address>
</dd>
<dd>
<div class="item_category-name">
in <a href="assets/joomla_58298/index.php/blog/52-information">Information</a>			</div>
</dd>
<dd>
<time datetime="2015-02-19 00:00" class="item_published">
on {{blog.date}}</time>
</dd>
<dd>
<div class="item_hits">
Hits: 353			</div>
</dd>	
<dd>
<div class="komento">


<div class="kmt-readon">

<span class="kmt-comment aligned-left">
<a href="assets/joomla_58298/index.php/blog/52-information/118-the-north-american-auto-show-will-take-place-in-chicago#section-kmt">2 Comments</a>
</span>

</div>



</div>
</dd>
</dl>
</div>
<!-- Intro image -->
<figure class="item_img img-intro img-intro__left">
<a href="assets/joomla_58298/index.php/blog/52-information/118-the-north-american-auto-show-will-take-place-in-chicago">
<img src={{blog.imageUrl}} alt=""/>
</a>
</figure>
<!-- Introtext -->
<div class="item_introtext">
<p>{{blog.shortDesc}}</p>
</div>
<!-- info BOTTOM -->
<!-- Tags -->
<!-- More -->
<a class="btn btn-info" href="assets/joomla_58298/index.php/blog/52-information/118-the-north-american-auto-show-will-take-place-in-chicago">
<span>
Read more	</span>
</a>
</article>
<div class="clearfix"></div>






</div><!-- end items-leading -->
<div class="clearfix"></div>
<footer class="pagination">
<ul class="pagination-list"><li class="hidden-phone"><span class="pagenav">1</span></li><li class="hidden-phone"><a href="assets/joomla_58298/index.php/blog.html?start=3" class="pagenav">2</a></li><li class="hidden-phone"><a href="assets/joomla_58298/index.php/blog.html?start=6" class="pagenav">3</a></li><li class="hidden-phone"><a href="assets/joomla_58298/index.php/blog.html?start=9" class="pagenav">4</a></li><li><a href="assets/joomla_58298/index.php/blog.html?start=3" class="pagenav"><i class="icon-chevron-right fa fa-angle-right"></i></a></li><li><a href="assets/joomla_58298/index.php/blog.html?start=9" class="pagenav"><i class="icon-forward fa fa-angle-double-right"></i></a></li></ul>	</footer>
</section>
                                                          </main>
              </div>
                                          </div>
                                  </div>
  </div>
                          </div>
