<div id="footer-wrapper">
  <div class="footer-wrapper-inner">            
      <!-- footer -->
<div id="footer">
<div class="row-container">
<div class="container-fluid">
<div class="row-fluid">
<div class="moduletable   span4"><div class="module_container"><header class='page_header'><h2 class="moduleTitle "><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first item_title_part_last">Popular</span></h2></header><div class="mod-menu">
<ul class="menu ">
<li class="item-546">
<a href="#" >Pork BBQ</a>
</li>
<li class="item-547">
<a href="#" >Fried Fish</a>
</li>
<li class="item-548">
<a href="#" >Grilled Chicken</a>
</li>
<li class="item-549">
<a href="#" >Baked Chicken</a>
</li>
<li class="item-550">
<a href="#" >Hors d’oeuvre</a>
</li>
</ul>
</div></div></div><div class="moduletable   span4"><div class="module_container"><header class='page_header'><h2 class="moduleTitle "><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first item_title_part_last">Help</span></h2></header><div class="mod-menu">
<ul class="menu ">
<li class="item-551">
<a href="#" >Ask Catering Services</a>
</li>
<li class="item-552">
<a href="#" >Disability Services</a>
</li>
<li class="item-553">
<a href="#" >Technical Help Desk</a>
</li>
<li class="item-554">
<a href="#" >Student Support</a>
</li>
</ul>
</div></div></div><div class="moduletable   span4"><div class="module_container"><header class='page_header'><h2 class="moduleTitle "><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first item_title_part_last">Contacts</span></h2></header><div class="mod-article-single mod-article-single__" id="module_215">
<div class="item__module" id="item_152">

<!-- Intro Text -->
<div class="item_introtext">
<p>28 Jackson Blvd Ste 1020 Chicago<br />IL 60604-2340</p>
<p>Tel: 800-2345-6789;800-2345-6790</p>
<p>7 Days a week from  9:00 am to 7:00 pm</p>
<ul class="social-links">
<li><a href="#" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
<li><a href="#" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
<li><a href="#" data-original-title="Google+"><i class="fa fa-google-plus"></i></a></li>
</ul>		</div>	
</div>
</div></div></div>
</div>
</div>
</div>
</div>
      <!-- Copyright -->
      <div id="copyright" role="contentinfo">
          <div class="row-container">
              <div class="container-fluid">
                  <div class="row-fluid">
                      
                      <div class="copyright span12">
                                                              <span class="siteName">Catering Services</span>
                          <span class="copy">&copy; </span><span class="year">2019</span>                                    <a class="privacy_link" rel="license" href="assets/joomla_58298/index.php/privacy-policy">
                              Privacy Policy                                    </a>
                                                          </div>
                                                      <!-- {%FOOTER_LINK} -->
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>