<div id="wrapper">
  <div class="wrapper-inner">
      <a id="fake" href='#'></a>
      <!-- Top -->
      <div id="top">
          <div class="row-container">
              <div class="container-fluid">
                  <div class="row-fluid">
                      <!-- Logo -->
                      <div id="logo" class="span5">
                          <a href="https://livedemo00.template-help.comassets/joomla_58298/">
                                                                      <img src="assets/joomla_58298/images/logo.png" alt="Catering Services">
                                                                      <span class="site-logo"><span class="item_title_part0 item_title_part_odd item_title_part_first_half item_title_part_first" translate>logo.name</span> <span class="item_title_part1 item_title_part_even item_title_part_second_half" translate>logo.underName</span> </span>
                          </a>
                                                          </div>
                      <div class="moduletable   span7"><div class="module_container"><div class="mod-menu">
<ul class="menu contacts">
<li class="item-537">
<span class="separator">800-2345-5789</span></li>
<li class="item-538">
<span class="separator">7 Days a week from  9:00 am to 7:00 pm</span></li>
<li>
    <button class="btn btn-primary" (click)="useLanguage('en')">en</button>
    <button class="btn btn-primary" (click)="useLanguage('ge')">ge</button>
</li>
</ul>
</div></div></div>
                  </div>
              </div>
          </div>
      </div>

      <app-Header></app-Header>
      <router-outlet></router-outlet>
      

                     

                  </div>
</div>